
   <div class="section2">
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-3 pl-0 pl-md-3">
            <div class="inner-circle"><span>5000</span></div>
            <div class="content">
              <p><b>TỶ</b><br>doanh thu năm 2020</p>
            </div>
          </div>
          <div class="col-6 col-md-3 pr-0 pr-md-3">
            <div class="inner-circle"><span>16</span></div>
            <div class="content">
              <p><b>NĂM</b><br>hình thành và phát triển</p>
            </div>
          </div>
          <div class="col-6 col-md-3 pl-0 pl-md-3">
            <div class="inner-circle"><span>11</span></div>
            <div class="content">
              <p><b>VĂN PHÒNG</b><br>tại các quốc gia</p>
            </div>
          </div>
          <div class="col-6 col-md-3 pr-0 pr-md-3">
            <div class="inner-circle"><span>4</span></div>
            <div class="content">
              <p><b>NHÓM</b><br>sản phẩm chủ lực</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="sesion3">
<div class="Trangtin">Trang tin tức</div>
<div class="card-group" >
  <div class="card">
    <img class="card-img-a" src="h1.jpg" alt="Card image cap" >
    <div class="card-body">
      <h5 class="card-title">Khung cảnh Cty VNG</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="https://www.google.com/search?q=ki%E1%BA%BFn+tr%C3%BAc+c%E1%BB%A7a+servlet+&tbm=isch&ved=2ahUKEwjo2o2z69H2AhVoXmwGHXTkAnQQ2-cCegQIABAA&oq=ki%E1%BA%BFn+tr%C3%BAc+c%E1%BB%A7a+servlet+&gs_lcp=CgNpbWcQAzIHCCMQ7wMQJzIHCCMQ7wMQJ1CCHFiCHGCiHWgAcAB4AIABeIgBygGSAQMxLjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=U581YqjlLOi8seMP9MiLoAc&bih=657&biw=1366">Xem tin </a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-tb" src="tamcam.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Truyện kinh Điển Của việt nam </h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    <a href="https://getbootstrap.com/docs/4.0/components/card/">Xem tin </a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-tc" src="Hinh.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Lập trình viên Trong công ty</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         <a href="https://www.facebook.com/profile.php?id=100038291719553">Xem tin </a>
    </div>
  </div>
</div>

</div>

